/*Estilos para el nuevo Spinner */
.loaderwait{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url({{ site.baseurl}}/img/overlay.png);
    width: auto; 
    height: auto; 
    display: block;
    z-index: 9999999999999999999999999999999999999999999999999;
}
.loaderwait .spiner_contend{
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    padding: 20px;
    background-color: #FFF;
    border-radius: 5px;
    border: solid 3px #F4EFEF;
    -webkit-transition: width 2s ease, margin 2s ease;
    -moz-transition: width 2s ease, margin 2s ease;
    transition: width 2s ease, margin 2s ease;

}
@media (min-width:768px) and (max-width: 991px) {
    .loaderwait .spiner_contend{
        width: 60%;
        margin-left: -30%;
    }
}
@media (min-width: 992px) {
    .loaderwait .spiner_contend{
        width: 40%;
        margin-left: -20%;
    }
}
@media (min-width: 1200px) {
    .loaderwait .spiner_contend{
        width: 30%;
        margin-left: -15%;
    }
}